<!-- Button trigger modal -->
<a data-toggle="modal" data-target="#add_research_finding">
  <%= image_tag 'icon-plus.png', data: { placement: 'right',
                                     toggle: 'tooltip',
                                     title: 'Add source' },
                             class: 'icon icon-xsmall'%>
</a>

