%li
  .row
    .col-md-1.votes{id: "question#{question.id}"}
      = render 'questions/upvote_downvote_question', question: question
    .col-md-11  
      = link_to question.question, question
      .pix14
        Answers: 
        -if question.question_type == "Yes/No"  
          =question.question_type
        -else
          =question.answers   


