<div class='home-wrapper'>  
  <h1>How to make research more accessible</h1>
  <h2 id= 'about'></h2>

  <br />
  <br />
  <h2><i>Why is understanding research important?</i></h2>

  <br>Scientists and researchers spend their lives investigating to better understand the world around them.  The papers and studies they create are small windows into the mechanics of nature, society, people, and relationships.  This information becomes the foundation for many public policies, social preconceptions, and personal beliefs. </br>

  <br>But getting this information is more difficult than it should be.  For an individual to understand the research behind a topic, they must consume hours navigating a maze of unwieldy information before reaching a conclusion.  Project Credo exists to eliminate the factors that make accessing and understanding research painful.</br>

  <h2><i>Why is accessing research difficult?</i></h2>   

  <br>Obtaining information that helps us understand the world should not be a difficult task, but the way the current system has evolved has made it so.<br>

  <ul>
    <li>Research is disorganized, classified and cataloged using broad, impractical categories sitting in thousands of journals instead of being organized by questions the public wants answered.</li>
    <li>With so many ways to bias the research, accidentally or intentionally, it is difficult to know which papers are most credible or most thorough.</li>
    <li>Papers and studies are not written with the public in mind. Understanding and digesting the information is cumbersome.</li>
  </ul>

  <h2><i>How does Project Credo work?</i></h2>    

  <br>Project Credo is a community based approach to answering questions using research.  Subscribers like yourself can ask any question and community members strive to provide a full view of the research to help formulate a verdict based on studies and papers.  Our goal is to get people engaged in the original research material by making it more accessible.</br>

  <br>Research is aggregated and documented to help people easily sift through the material.  Important metrics like whether a paper is peer reviewed, verified independently, or retracted are provided and used to determine credibility.  Anyone on the site can document research and associate findings to questions people are interested in.</br>

  <br>From nutrition to economics, the more engaged our community is in understanding research, the more and better informed our community will become.  So <%= link_to "sign up already!", new_user_registration_path%></br>
</div>

