<div class="row help-wrapper">
  <div class="col-md-8">
    <h2>About us</h2>

    <p>Getting and discussing research should be easy. With over a million papers published each year, understanding
      research seems to only get harder despite all the new resources we have.</p>

    <ul>
      <li>Research is disorganized. It sits in thousands of journals and isn't sortable or tagged.</li>
      <li>Biases exist in papers, accidentally or intentionally. It is difficult to know which papers are credible.</li>
      <li>Papers and studies are not written with the public in mind. Understanding and digesting the information is
        cumbersome.
      </li>
    </ul>

    <p>Project Credo is a community based approach to answering questions by producing dynamic,
      systematic reviews of literature. Subscribers like yourself can ask any question and the
      community works to provide a full view of the research. Our goal is to get people engaged
      in talking about evidence by making it more accessible.</p>

    <h2>How it works</h2>

    <p>Research is documented on our site to help people easily sift through the material.
      Important metrics like whether a paper is peer reviewed, verified independently, or
      retracted are provided and used to determine credibility, which we display in a "Cred" score.</p>

    <p>The community asks and answer questions by organizing research into evidence and verdicts.
      Anyone can participate and the best information is voted to the top. Anyone on the site can
      document research and associate findings to questions people are interested in.</p>

    <p>Our site aggregates this information and makes it easier to consume and digest</p>

    <p><%= image_tag("Charts1.png", width: "100%") %></p>

    <p>The more engaged our community is in understanding research, the more accesible research becomes.
      So <%= link_to "sign up", new_user_registration_path %> so we can make getting and understanding research
      easy!</p>

  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 id='contact'> Contact </h2>

      <p>For questions, comments, or ways to help and collaborate, contact Project Credo at proj.credo@gmail.com.
        Or to find Project Credo's code, visit our github
        at <%= link_to "github.com/wsf246/project_credo", "http://github.com/wsf246/project_credo" %></p>
    </div>
  </div>
</div>
