<div class='home-wrapper'>	
	<div class="center hero-unit">
	  <h1>Welcome to Project Credo</h1>

	  <h2>
	    The most probable answer to your question based on available research
	  </h2>

	  <%= link_to "Sign up now!", new_user_registration_path,
	                              class: "btn btn-large btn-primary" %>
	</div>

	<script>
	  $(document).ready(function(){
	     $('#home-carousel').carousel({interval: 5000});
	  });
	</script>  

	<!--  Carousel - consult the Twitter Bootstrap docs at
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	<div class="c-wrapper">
		<h2>Featured Debates</h2>
		<div id="home-carousel" class="carousel slide"><!-- class of slide for animation -->
			<ol class="carousel-indicators">
				<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#home-carousel" data-slide-to="1"></li>
				<li data-target="#home-carousel" data-slide-to="2"></li>
				<li data-target="#home-carousel" data-slide-to="3"></li>				
			</ol>	  
		  <div class="carousel-inner">
		    <div class="item active"><!-- class of active since it's the first item -->
		      <img src="http://morrisonlabo.files.wordpress.com/2012/12/dual-monitor-eart-space-wallpaper.jpg?w=1200" alt="" />
		      <div class="carousel-caption">
		        <p>Earth!</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="http://4.bp.blogspot.com/-kSc9LVdigHI/UreHX5PpwSI/AAAAAAAAE8c/ZyUCqgjsww0/s1600/IMG_1741.JPG" alt="" />
		      <div class="carousel-caption">
		        <p>City!</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="http://lessonsincharacter.files.wordpress.com/2013/04/beautiful-earth-at-sunset-303095.jpg?w=1038&h=480&crop=1" alt="" />
		      <div class="carousel-caption">
		        <p>Landscape!</p>
		      </div>
		    </div>
		  </div><!-- /.carousel-inner -->
		  <!--  Next and Previous controls below
		        href values must reference the id for this carousel -->
		    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->
	</div><!-- /.c-wrapper -->

	<h2  id= 'about'></h2>

	<h2><i>Why is understanding research important?</i></h2>

	<br>Scientists and researchers spend their lives investigating to better understand the world around them.  The papers and studies they create are small windows into the mechanics of nature, society, people, and relationships.  This information becomes the foundation for many public policies, social preconceptions, and personal beliefs. </br>

	<br>But getting this information is more difficult than it should be.  For an individual to understand the research behind a topic, they must consume hours navigating a maze of unwieldy information before reaching a conclusion.  Project Credo exists to eliminate the factors that make accessing and understanding research painful.</br>

	<h2><i>Why is accessing research difficult?</i></h2>   

	<br>Obtaining information that helps us understand the world should not be a difficult task, but the way the current system has evolved has made it so.<br>

	<ul>
		<li>Research is disorganized, classified and cataloged using broad, impractical categories sitting in thousands of journals instead of being organized by questions the public wants answered.</li>
		<li>With so many ways to bias the research, accidentally or intentionally, it is difficult to know which papers are most credible or most thorough.</li>
		<li>Papers and studies are not written with the public in mind. Understanding and digesting the information is cumbersome.</li>
	</ul>

	<h2><i>How does Project Credo work?</i></h2>  	

	<br>Project Credo is a community based approach to answering questions using research.  Subscribers like yourself can ask any question and community members strive to provide a full view of the research to help formulate a verdict based on studies and papers.  Our goal is to get people engaged in the original research material by making it more accessible.</br>

	<br>Research is aggregated and documented to help people easily sift through the material.  Important metrics like whether a paper is peer reviewed, verified independently, or retracted are provided and used to determine credibility.  Anyone on the site can document research and associate findings to questions people are interested in.</br>

	<br>From nutrition to economics, the more engaged our community is in understanding research, the more and better informed our community will become.  So <%= link_to "sign up already!", new_user_registration_path%></br>


	<h2 id= 'contact'> Contact </h2>	

	<br>For questions, comments, or ways to help and collaborate, contact Project Credo at proj.credo@gmail.com.  Or to find Project Credo's code, visit our github at <%= link_to "github.com/wsf246/project_credo", "http://github.com/wsf246/project_credo"%></br>
</div>

