.row
  .col-md-9
    %h2
      How-to Credo         
    %p.vertical-align
      =image_tag("determined-challenge-accepted.png", width: "100px", class: "text-wrap")
      Credo is a community based approach to understanding the research behind questions we care about.  Everyone can contribute and edit.  Above all else, the community is Credo's greatest asset.
    %h2
      Ask
    %p
      Every Credo begins with a good question.  You can look for an existing question in search-bar or in 'Top Questions'.  Or you can ask your own!  Hit 'Add a question' in the navbar.
    %p.well.well-sm.style-image  
      =image_tag("navbar.png", class: "style-image", width: "700px")
    %p
      Credo is built deliver a comprehensive understanding research so the best questions will be those that you want to understand the research behind.  For example, "Are there long term health benefits for consistent meditation (mindfulness practice)?"
    %p
      Make sure you add a description that helps people understand the context for the question.
    %p.well.well-sm.style-image 
      =image_tag("newquestion.png", class: "style-image", height: "300px")
    %p
      By default, Credo questions are Yes or No questions, but you can choose multiple answers if it isn't like 'How much protein should I take in if I'm trying to gain muscle mass?'
    %p.well.well-sm.style-image 
      =image_tag("multipleanswers.png", height: "200px")  
    

    %h2
      Research
    %p
      A blank credo is a community wall waiting to be filled with information.  Start off by adding an argument. 
    %p.well.well-sm.style-image  
      =image_tag("navbar.png", class: "style-image", width: "600px")      



  .col-md-3
    %ul.nav.bs-docs-sidenav
      %li stuff
      %li stuff
      %li stuff