@import "bootstrap-sprockets";
@import "bootstrap";

/* Donut */

.highcharts-container {
  display: block;
  padding: auto;
  margin: auto;
}

.donut {
  width: 180px;
 
}

.question-title {
  display: inline;
}