@import "bootstrap-sprockets";
@import "bootstrap";


.research-form {
  width:60%;
  margin-left: auto;
  margin-right: auto;

  legend {
  margin-bottom: 0;
  margin-top: 5px;
  }

  .block_radio_button_collection {
    display: block;
  }  
}