<% provide(:title, 'Edit Point') %>
<div class="col-md-6 col-md-offset-3">
  <div class= 'question-wrapper'>
  	<h3><%=@question.question%></h3>
  </div>

  <%= simple_form_for(@point) do |f| %>
  	<%= render 'point_form', f: f %>
  <%end%>
</div>