<div class="row">
  <div class="span4 offset1">
	<div class="search">
		<%= search_form_for @query do |f| %>		
			<%= f.label :point_cont, "Name Contains" %>
			<%= f.text_field :point_cont %>

			<%= f.submit "Search" %>  
		<%end%>
	</div>
  </div>
</div> 