<div class ='point-wrapper'>	
	<div class="row-fluid">
		<div class= 'point'>		
		  <div class="span6 offset2">
		  	<b><%= link_to "Back to question", debate_path(@debate) %></b>
		    <% @evidence.each do |evidence|%>     	  	    	
			 		<%= render 'debates/points', point: evidence %>
			 	<%end%>
			 	<b><%= link_to "Back to question", debate_path(@debate) %></b>	
		  </div>
		</div>
	</div> 
</div>