<div class = "fields">
  <%= f.input :finding, label: "Add finding"  %>
  <%= f.input :sample_def, label: "Add sample definition"  %>
  <%= f.input :quote, label: "Add relevant quote"  %>
  <%= f.hidden_field :research_id, value: research_id %> 
</div>  
