.home-wrapper{
  width: 80%;
  background-color:#428bca;

  .jumbotron{
    margin-top: 50px;

    h1{
      color: #FFFFFF;
    }
  }

  .search{
    width: 20%;

    input{
      text-align: center;
    }
  }

  /*home carousel */

  #home-carousel {
    background-color: #428bca;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;

    h3{
      width: 80%;
      margin: auto;
    }

    .item{
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .carousel-indicators {
      bottom: 65px;

      li {
        background-color: black;
        box-shadow: 1px 1px 1px grey;
      }

      .active {
        background-color: white;
      }
    }

    .carousel-caption {
      background: #333333;
      background: rgba(0,0,0,0.5);
      h3 {
        color: #FFFFFF;
      }
    }

    a {
      color: #FFFFFF
    }

    .carousel-control {
      top: -18%;
      background-image: none;
      color: #FFFFFF;
    }

    .carousel-indicators {
      top: 100%;
      background: none;
    }

    .carousel-indicators .active {

    }

    .carousel-indicators li {

    }
  }
}
