<%= form_for(@point.associations.build(finding_id: finding.id, point_id: @point.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :finding_id %></div>
  <div><%= f.hidden_field :point_id %></div>  
  <%= f.submit "Associate", class: "btn btn-large btn-primary" %>
<% end %>