<div id="associations_form_<%= finding.id %>">
<% if @point.associated?(finding) %>
    <%= render 'unassociate', :finding => finding %>
<% else %>
    <%= render 'associate', :finding => finding %>
<% end %>
</div>
