.btn-primary {
  background-color: $primary-color;

  &:hover {
    background-color: shade($primary-color, 20%);
  }
}

.btn-form {
  margin: 15px 0 15px ;
  display: inline-block;
}

.btn-link {
  margin: 0 0px 5px 15px ;
  display: inline-block;
  color: $primary-color
}