h3 {
  .icon {
    margin-top: -2px;
  }
}


.icon {
  display: inline-block;
}

.icon-small {
  height: 16px;
  width: 16px;
}

.icon-xsmall {
  height: 12px;
  width: 12px;
}

.text-wrap {
  float: right;
}

.style-image {
  border: 1px solid #000;
  text-align: center;
}