h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 2em;
  margin-bottom: 5px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: left;
  color: red;
}

/* universal */
.alert {
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin: 20px 40px;
    font-weight: bold;
  }
}

.align-top {
  length: -10em;
}

.green {
  color: #197519;
}

.red {
  color: #8D1919;
}

.gold {
  color: #998100;
}

.blue {
  color: #428bca;
}

.pix10 {
  font-size: 10px;
}

.pix12 {
  font-size: 12px;
}

.pix14 {
  font-size: 14px;
}

.jumbotron {
  margin-top: 1em;
  border-radius: 6px;
}

.container {
  width: 940px;
}

.checkbox input[type="checkbox"] {
  margin: 0 5px 0 0;
  position: relative;
}

.radio input[type="radio"] {
  margin: 0 5px 0 0;
  position: relative;
}

ul.pagination {
  margin: 0 auto;
  font-size: 14px !important;
  border: none !important;

  a {
    font-size: 14px !important;
  }
}

input[type="text"], textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: 5em;
  margin-bottom: 5px;
}

input {
  height: auto !important;
}

.btn-gold {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(black, gold, gold);
}
