<li>
  <div class='row-fluid'>
    <div class='col-md-2 center'>
      <%= render 'important_debate', debate: debate %>
    </div>
    <div class='col-md-10'>  
      <%= link_to debate.title, debate %>
      <div class='pix14'>  
        <%if debate.points.joins(:associations).present? %> 
          <%=pluralize(debate.points.joins(:associations).size,'Finding')%>
          <%if debate.verdicts.present? %>
            <br /><%=pluralize(debate.verdicts.size,'Verdict')%>
          <%else%> 
            <br />No verdict 
          <%end%>
        <%else%>
          Not yet researched  
        <%end%>  
      </div>  
    </div>
  </div>
</li>