<div class ='trend-wrapper'>  
  <h2>Trends</h2>
  <% if @debate.id ==1 %>
    <%=image_tag("Charts1.png", width: "100%", alt: "Cold Water Trends")%>
  <%elsif @debate.id ==3%>
    <%=image_tag("Charts2.png", width: "100%", alt: "Running and Osteoarthritis Trends")%>
  <%else%>
    Coming Soon
    <br></br>
  <%end%>
</div>