<% provide(:title, 'Edit Debate') %>
<h1>Edit Debate</h1>

<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3">
    <%= nested_form_for @debate do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'debate_form', f: f  %>
		    <%= f.submit "Save changes", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>