<% provide(:title, 'All debates') %>
<h2>Debates</h2>
<h3><%= link_to "Create a new debate", new_debate_path %></h3>

<%= will_paginate %>

<ul class="debates">
  <%= render @debates %>
</ul>

<%= will_paginate %>