<% provide(:title, 'All questions') %>
<div class= 'debates'>
  <h2>All Questions</h2>
  <div class="center"><%= link_to "Add a question", new_debate_path %></div>

  <%= will_paginate @debates, renderer: BootstrapPagination::Rails %>
      <%= render @debates %>
  <%= will_paginate @debates, renderer: BootstrapPagination::Rails %>
</div>

