<% provide(:title, 'All debates') %>
<h2>Debates</h2>
<h3><%= link_to "Create a new debate", new_debate_path %></h3>

<%= will_paginate %>
<div class= 'debates'>
  <ul>
    <%= render @debates %>
  </ul>
</div>  

<%= will_paginate %>