<div class="debate-wrapper">
  <% provide(:title, 'All questions') %>
  <h2>All Questions</h2>
  <h2><%= link_to "Add a question", new_debate_path %></h2>

  <%= will_paginate @debates, renderer: BootstrapPagination::Rails %>
  <div class= 'debates'>
    <ul>
      <%= render @debates %>
    </ul>
  </div>  

  <%= will_paginate @debates, renderer: BootstrapPagination::Rails %>
</div>

