<% provide(:title, 'All debates') %>
<h1>Debates</h1>
<h2><%= link_to "Create a new debate", new_debate_path %></h2>

<%= will_paginate %>

<ul class="debates">
  <%= render @debates %>
</ul>

<%= will_paginate %>