<% provide(:title, 'Add a question') %>
<h1>Add a question</h1>

<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3">
    <%= nested_form_for(@debate) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'debate_form', f: f  %>
		  <%= f.submit "Create debate", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>