<% provide(:title, @debate.title) %>
<h1>
<%= @debate.title %>
</h1>
	<div class='debate'>
		<b>Description:</b>
			<%= @debate.description %>
	</div>
	<div class='debate'>	
		<b>Notes:</b>	
			<%= @debate.notes.split('|').to_a.each do |n|
					puts n
				end %>
	</div>
	<div class='debate'>
		<b>Verdict:</b>	
			<%= @debate.verdict %>
	</div>
	

	