.affix {
  margin-top: 30px;
}

[id^=ebscohost-well]{
  input[type=text]{
    width: 300px;
  }
}

[id^=ebscohost-well-modal]{
  margin-top: 30px;
}

.ui-autocomplete-input{
  input[type=text]{
    width: 300px;
  }
}

.ui-autocomplete{
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 20px 0 0 0;
  z-index: 5000;
  position: fixed;
}