.alert-notice{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
  hr{
    border-top-color: #f7e1b5
  }
}

.alert-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
  hr{
    border-top-color: #e4b9c0
  }
}

