.jumbotron{
  background-color: $primary-color;
  text-align: center;
}

.homepage-logo {

  z-index: 100;
  color: rgba(#fff, .6);
  font-weight: 300;
  font-size: 100px;
  text-shadow: 2px 2px #000000;
  line-height: 100%;

  strong {
    color: rgba(#fff, .9);
  }
}

.homepage-text {

  z-index: 100;
  color: rgba(#fff, .9);
  font-weight: 500;
  font-size: 50px;
  text-shadow: 2px 2px #000000;

}

.home-buttons {
  margin-top: 30px;

}

.headers {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
