footer {
  width: 80%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;

  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
