textarea {
  height: 100px;
  width: 500px;
}

input[type=text]  {
  width: 500px;

}

#user_login {
  width: 179px;
}

#user_username {
  width: 179px;
}

#verdict_short{
  width: 100%;
}

#verdict_verdict{
  width: 100%;
}