
.modal-dialog {
  display: block;
  left: 0;
}

@media (max-width: 767px) {
  .modal-dialog { /* Edited classname 10/03/2014 */
    width: 70%;
  }
} 


.modal-footer {
    margin-top: 0;
}

.modal {
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
}