@import "bootstrap-sprockets";
@import "bootstrap";

/* Trends */

.trend-wrapper {
  width: 80%;
  margin: auto;
  
  h2 {
    font-size: 20px;
    text-align: left; 
    border-bottom: 1px solid $gray;       
    margin: 0 0 0 0;
    font-weight: bold;
    color: black;
  } 
}