function researchBiasControls() {
  $(document).ready(function() {
      var defCrossSectional = "<p>A cross-sectional study is a type of observational study that involves the analysis of data collected from a population, or a representative subset, at one specific point in time</p>"
      var defCaseControl = "<p>A case-control study is a type of observational study in which two existing groups differing in outcome are identified and compared on the basis of some supposed causal attribute</p>"
      var defCohortStudy = "<p>A cohort study is a type of observational study done prospectively or retrospectively where groups of people who share common characteristics or experiences within a defined period but differ in an attribute or attributes are examined for risk factors</p>"
      var defRCT = "<p>A randomized control trial is a type of intervention study that randomly assigns participants into an experimental group or a control group and measures outcomes of the intervention.</p>"
      var defCaseStudy = "<p>A case study is a study in which detailed consideration is given to the development of a particular person, group, or situation over a period of time</p>"
      var defMeta = "<p>A meta-analysis is a type of statistical analysis of a large collection of analysis results from individual studies for the purpose of integrating the findings</p>"
      var defReview = "<p>A review of literature is an evaluative report of information found in the literature related to a selected area of study with no statistical evaluation of the findings</p>"
      var defClinicalTrial = "<p>A clinical trial is a type of intervention study that prospectively assigns participants or groups to one or more interventions to evaluate the effects on outcomes with no randomization performed on the participants.</p>"

    $('#study_type'+pointId).change(function(){
      var study_type = $(this).val();
      if(study_type == "Cross Sectional") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defCrossSectional);
        $('#research_single_blinded').prop('disabled', true).prop('checked', false);
        $('#research_double_blinded').prop('disabled', true).prop('checked', false);
        $('#research_randomized').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_placebo').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_best_alt').prop('disabled', true).prop('checked', false);
      }
      else if(study_type == "Case Control") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defCaseControl);
        $('#research_single_blinded').prop('disabled', true).prop('checked', false);
        $('#research_double_blinded').prop('disabled', true).prop('checked', false);
        $('#research_randomized').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
      else if(study_type == "Cohort Study") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defCohortStudy);
        $('#research_single_blinded').prop('disabled', true).prop('checked', false);
        $('#research_double_blinded').prop('disabled', true).prop('checked', false);
        $('#research_randomized').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      } 
      else if(study_type == "Randomized Control Trial") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defRCT);
        $('#research_single_blinded').prop('disabled', false);
        $('#research_double_blinded').prop('disabled', false);
        $('#research_randomized').prop('disabled', true).prop('checked', true);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
      else if(study_type == "Case Study") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defCaseStudy);
        $('#research_single_blinded').prop('disabled', true).prop('checked', false);
        $('#research_double_blinded').prop('disabled', true).prop('checked', false);
        $('#research_randomized').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_placebo').prop('disabled', true).prop('checked', false);
        $('#research_controlled_against_best_alt').prop('disabled', true).prop('checked', false);
      }
      else if(study_type == "Meta-Analysis") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defMeta);
        $('#research_single_blinded').prop('disabled', false);
        $('#research_double_blinded').prop('disabled', false);
        $('#research_randomized').prop('disabled', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
      else if(study_type == "Review of Literature") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defReview);
        $('#research_single_blinded').prop('disabled', false);
        $('#research_double_blinded').prop('disabled', false);
        $('#research_randomized').prop('disabled', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
      else if(study_type == "Clinical Trial") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defReview);
        $('#research_single_blinded').prop('disabled', false);
        $('#research_double_blinded').prop('disabled', false);
        $('#research_randomized').prop('disabled', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
      else if(study_type == "Unknown") {
        $(this).closest("div").children("p").remove();
        $(this).closest("div").append(defReview);
        $('#research_single_blinded').prop('disabled', false);
        $('#research_double_blinded').prop('disabled', false);
        $('#research_randomized').prop('disabled', false);
        $('#research_controlled_against_placebo').prop('disabled', false);
        $('#research_controlled_against_best_alt').prop('disabled', false);
      }
    })                      
  })
}
researchBiasControls();

function autocompleteModal() {
  $(document).ready(function() {
    $('#ebsco-modal'+pointId).one("keyup",function() {
      $("ul[id^='ui-id-']").next().remove();
      $("ul[id^='ui-id-']").attr("id","autocomplete-ul"+pointId);
      $("#autocomplete-ul"+pointId).appendTo('#ebscohost-well-modal'+pointId).css("position", "absolute"); 
    })
  })
}  
