<li class= 'point'>
  <div class='row-fluid'> 
      <div id="question_research_<%= point.id %>">         
        <%= render 'questions/evidence/top_3_findings', point: point %>
      </div>         
  </div>    
</li>




