@import "bootstrap-sprockets";
@import "bootstrap";

#evidence-carousel {
	.carousel-indicators {
		top: -15px;
		bottom: 100%;
    background: none;
	}

  .carousel-indicators .active {
    background-color: #444;
  }

  .carousel-indicators li {
    background-color: #444;
  }

  .carousel-control {
    bottom: 100%;
    background-image: none;
    color: #000000;
  }
}

/*home carousel */

#home-carousel {
  .carousel-indicators {
    bottom: 65px;

    li {
      background-color: black;
      box-shadow: 1px 1px 1px grey;
    }

    .active {
      background-color: white;
    } 
  } 

  .carousel-caption {
    bottom: 0;
    top: auto;
    background: #333333;
    background: rgba(0,0,0,0.75);

    h3 {
    color: #FFFFFF
    }
  }
}