@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Debates show */

div.debate-wrapper{
  width: 95%; 
  margin: auto;

  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 3em;
    font-weight: bold;
    color: $gray;
  }

  p {
    font-size: 1.4em;
    letter-spacing: -0.5px;
    line-height: 100%;
    text-align: left;
    padding-left: 3em;    
    padding-right: 20em;
    font-weight: normal;
    color: $gray;
  }

  ul {
    font-size: 1.4em;
    letter-spacing: -0.5px;
    text-align: left;
    padding-left: 3em;    
    padding-right: 20em;
    font-weight: normal;
    color: $gray;
  }  


}



/* Debates index */

.debates {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    font-size: 1.4em;    
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* Debates forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

