@import "bootstrap-sprockets";
@import "bootstrap";

div.research-wrapper{
  width: 60%; 
  margin: auto;

  a {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: black;
  }

  h2 {
    font-size: 16px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: black;
  }  

  p {
    font-size: 14px;
    line-height: 100%;
    text-align: left;  
    font-weight: normal;
    color: $gray;
  }

  ul {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: $gray;
  }  

  ol {
    font-size: 14px;
    text-align: left;
    width: 80%; 
    font-weight: normal;
    color: $gray;
    p {
      font-size: 14px;
      line-height: 100%;
      text-align: left;
      padding-left: 0em;    
      font-weight: normal;
      color: $gray;
    }  
  } 

  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 5;
      padding-top: 0;
    }  
  }  
}
